body,html {
  margin: 0;
  padding: 0;
}

.formContainer {
  /* background-color: rgb(202, 214, 214); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  align-items: center;
}

 h {
  font-size: 60px;
}


.formWrapper > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.formWrapper > form > h {
  font: 120px;
}

.formWrapper > form > input {
  border-radius: 20px;
  border: none;
  border-bottom: rgb(192, 36, 36);
  padding: 30px;
  width: 350px;
}

.login_button {
  /* border-radius: 20px; */
  height: 50px;
  width: 150px;
  background-color: rgb(178, 154, 247);
  color: white;
}

.signup_button {
  /* border-radius: 20px; */
  height: 50px;
  width: 80%;
  background-color: rgb(178, 154, 247);
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}